/data
/histories
/networks/my_resnet50_ft.py
/networks/my_vgg16_2.py
/networks/my_vgg16_data_aug.py
/plots
/report/histories
/report/wrong_pred
/report/report.aux
/report/report.log
/report/report.out
/report/report.synctex.gz
/weights
old_filter_vis.py
ostr.png
rap_train.zip
__pycache__/
